# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [5]:
song_files = get_files('data/song_data')

In [6]:
filepath = song_files[0]
print(len(song_files))

78

In [7]:
df = pd.read_json(filepath, lines = True)
print(df.head())
print([df.values[0][7], df.values[0][8], df.values[0][0], df.values[0][9], df.values[0][5]])
#print(df.values)

   num_songs           artist_id  artist_latitude  artist_longitude  \
0          1  AREDL271187FB40F44              NaN               NaN

  artist_location   artist_name             song_id  \
0                  Soul Mekanik  SOPEGZN12AB0181B3D

                              title  duration  year
0  Get Your Head Stuck On Your Neck  45.66159     0
['Get Your Head Stuck On Your Neck', 45.66159, 1, 0, 'Soul Mekanik']

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [15]:

df = pd.DataFrame(columns = pd.read_json(song_files[0],lines = True).columns)
for record in song_files:
    data = pd.read_json(record,lines = True)
    df = df.append(data)
    
#    song_data.append([df.values[0][7], df.values[0][8], df.values[0][0], df.values[0][9], df.values[0][5]])
#    artist_data.append([df.values[0][0], df.values[0][4], df.values[0][2], df.values[0][1], df.values[0][3]])
print(len(df))
song_data = pd.DataFrame({'song_id':df['song_id'], 'title':df['title'], 'artist_id':df['artist_id'], 'year':df['year'], 'duration':df['duration']})
artist_data = pd.DataFrame({'artist_id':df['artist_id'], 'name':df['artist_name'], 'location':df['artist_location'], 'latitude':df['artist_latitude'], 'longtitude':df['artist_longitude']})

#print(len(song_data))
#print(len(artist_data))

78

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [17]:

for song in song_data.values:

    cur.execute(song_table_insert, song)
    conn.commit()

['SOPEGZN12AB0181B3D' 'Get Your Head Stuck On Your Neck'
 'AREDL271187FB40F44' 0 45.66159]
['SOTCKKY12AB018A141' 'Sonnerie lalaleulé hi houuu' 'ARGSAFR1269FB35070' 0
 29.54404]
['SOQOTLQ12AB01868D0' 'Clementina Santafè' 'ARGCY1Y1187B9A4FA5' 0
 153.33832]
['SOLEYHO12AB0188A85' 'Got My Mojo Workin' 'ARAGB2O1187FB3A161' 0
 338.23302]
['SOFFKZS12AB017F194' 'A Higher Place (Album Version)'
 'ARBEBBY1187B9B43DB' 1994 236.17261]
['SOOJPRH12A8C141995' 'Loaded Like A Gun' 'ARBGXIG122988F409D' 0 173.19138]
['SOGVQGJ12AB017F169' 'Ten Tonne' 'AR62SOJ1187FB47BB5' 2005 337.68444]
['SOXILUQ12A58A7C72A' 'Jenny Take a Ride' 'ARP6N5A1187B99D1A3' 2004
 207.43791]
['SOFNOQK12AB01840FC' 'Kutt Free (DJ Volume Remix)' 'ARNNKDK1187B98BBD5' 0
 407.37914]
['SOBCOSW12A8C13D398' 'Rumba De Barcelona' 'AR7SMBG1187B9B9066' 0
 218.38322]
['SOBAYLL12A8C138AF9' 'Sono andati? Fingevo di dormire'
 'ARDR4AC1187FB371A1' 0 511.16363]
['SOBKWDJ12A8C13B2F3' 'Wild Rose (Back 2 Basics Mix)' 'AR36F9J1187FB406F1'
 0 230.71302]
['SOFFKZS12AB017F194' 'A Higher Place (Album Version)'
 'ARBEBBY1187B9B43DB' 1994 236.17261]
['SOBKWDJ12A8C13B2F3' 'Wild Rose (Back 2 Basics Mix)' 'AR36F9J1187FB406F1'
 0 230.71302]
['SOOJPRH12A8C141995' 'Loaded Like A Gun' 'ARBGXIG122988F409D' 0 173.19138]
['SOQOTLQ12AB01868D0' 'Clementina Santafè' 'ARGCY1Y1187B9A4FA5' 0
 153.33832]
['SONSKXP12A8C13A2C9' 'Native Soul' 'AR0IAWL1187B9A96D0' 2003 197.19791]
['SOUPIRU12A6D4FA1E1' 'Der Kleine Dompfaff' 'ARJIE2Y1187B994AB7' 0
 152.92036]
['SOWQTQZ12A58A7B63E' 'Streets On Fire (Explicit Album Version)'
 'ARPFHN61187FB575F6' 0 279.97995]
['SOINLJW12A8C13314C' 'City Slickers' 'AR8IEZO1187B99055E' 2008 149.86404]
['SONWXQJ12A8C134D94' 'The Ballad Of Sleeping Beauty' 'ARNF6401187FB57032'
 1994 305.162]
['SODREIN12A58A7F2E5' 'A Whiter Shade Of Pale (Live @ Fillmore West)'
 'ARLTWXK1187FB5A3F8' 0 326.00771]
['SOGDBUF12A8C140FAA' 'Intro' 'AR558FS1187FB45658' 2003 75.67628]
['SODAUVL12A8C13D184' 'Prognosis' 'ARWB3G61187FB49404' 2000 363.85914]
['SORRZGD12A6310DBC3' 'Harajuku Girls' 'ARVBRGZ1187FB4675A' 2004 290.55955]
['SOSWKAV12AB018FC91' 'Midnight Star' 'ARULZCI1241B9C8611' 0 335.51628]
['SOFCHDR12AB01866EF' 'Living Hell' 'AREVWGE1187B9B890A' 0 282.43546]
['SOLYIBD12A8C135045' 'Music is what we love' 'AR051KA1187B98B2FF' 0
 261.51138]
['SODUJBS12A8C132150' 'Wessex Loses a Bride' 'ARI2JSK1187FB496EF' 0
 111.62077]
['SOSLAVG12A8C13397F' 'Den Pai Alo' 'AROGWRA122988FEE45' 0 243.82649]
['SOAOIBZ12AB01815BE'
 'I Hold Your Hand In Mine [Live At Royal Albert Hall]'
 'ARPBNLO1187FB3D52F' 2000 43.36281]
['SOMVWWT12A58A7AE05' 'Knocked Out Of The Park' 'ARQ9BO41187FB5CF1F' 0
 183.17016]
['SOQVMXR12A81C21483' 'Salt In NYC' 'ARKULSX1187FB45F84' 0 424.12363]
['SOZHPGD12A8C1394FE' 'Baby Come To Me' 'AR9AWNF1187B9AB0B4' 0 236.93016]
['SOBBXLX12A58A79DDA' 'Erica (2005 Digital Remaster)' 'AREDBBQ1187B98AFF5'
 0 138.63138]
['SOTUKVB12AB0181477' 'Blessed Assurance' 'AR7ZKHQ1187B98DD73' 1993
 270.602]
['SOQLGFP12A58A7800E' 'OAKtown' 'ARD7TVE1187B99BFB1' 0 259.44771]
['SOTTDKS12AB018D69B' 'It Wont Be Christmas' 'ARMBR4Y1187B9990EB' 0
 241.47546]
['SOPVXLX12A8C1402D5' 'Larger Than Life' 'AR3JMC51187B9AE49D' 1999
 236.25098]
['SOQLGFP12A58A7800E' 'OAKtown' 'ARD7TVE1187B99BFB1' 0 259.44771]
['SOXLBJT12A8C140925' 'Caught In A Dream' 'ARYKCQI1187FB3B18F' 2004
 290.29832]
['SOMUYGI12AB0188633' 'La Culpa' 'ARL7K851187B99ACD2' 0 226.35057]
['SOHUOAP12A8AE488E9' 'Floating' 'ARD842G1187B997376' 1987 491.12771]
['SOILPQQ12AB017E82A' 'Sohna Nee Sohna Data' 'AR1ZHYZ1187FB3C717' 0
 599.24853]
['SOBEBDG12A58A76D60' 'Kassie Jones' 'ARI3BMM1187FB4255E' 0 220.78649]
['SOUQQEA12A8C134B1B' 'High Tide' 'ARIG6O41187B988BDD' 0 228.5971]
['SORAMLE12AB017C8B0' 'Auguri Cha Cha' 'ARHHO3O1187B989413' 0 191.84281]
['SOZVMJI12AB01808AF' 'Synthetic Dream' 'ARNPAGP1241B9C7FD4' 0 165.69424]
['SOWTBJW12AC468AC6E' 'Broken-Down Merry-Go-Round' 'ARQGYP71187FB44566' 0
 151.84934]
['SOKEJEJ12A8C13E0D0' 'The Urgency (LP Version)' 'ARC43071187B990240' 0
 245.21098]
['SOBONFF12A6D4F84D8' 'Tonight Will Be Alright' 'ARIK43K1187B9AE54C' 1986
 307.3824]
['SOKEJEJ12A8C13E0D0' 'The Urgency (LP Version)' 'ARC43071187B990240' 0
 245.21098]
['SOGOSOV12AF72A285E' '¿Dónde va Chichi?' 'ARGUVEV1187B98BA17' 1997
 313.12934]
['SOOLYAZ12A6701F4A6' 'Laws Patrolling (Album Version)'
 'AREBBGV1187FB523D2' 0 173.66159]
['SOBZBAZ12A6D4F8742' 'Spanish Grease' 'AROUOZZ1187B9ABE51' 1997 168.25424]
['SOYTPEP12AB0180E7B' 'Twist and Shout' 'ARAJPHH1187FB5566A' 1964
 164.80608]
['SOZCTXZ12AB0182364' 'Setanta matins' 'AR5KOSW1187FB35FF4' 0 269.58322]
['SOGXHEG12AB018653E' 'It Makes No Difference Now' 'AR0RCMP1187FB3F427'
 1992 133.32853]
['SOBBUGU12A8C13E95D' 'Setting Fire to Sleeping Giants'
 'ARMAC4T1187FB3FA4C' 2004 207.77751]
['SONYPOM12A8C13B2D7'
 'I Think My Wife Is Running Around On Me (Taco Hell)'
 'ARDNS031187B9924F0' 2005 186.48771]
['SOGNCJP12A58A80271' 'Do You Finally Need A Friend' 'ARB29H41187B98F0EF'
 1972 342.56934]
['SOPSWQW12A6D4F8781' 'Made Like This (Live)' 'ARGIWFO1187B9B55B7' 0
 225.09669]
['SOZQDIU12A58A7BCF6' 'Superconfidential' 'ARNTLGG11E2835DDB9' 0 338.31138]
['SOBLGCN12AB0183212' 'James (Hold The Ladder Steady)'
 'AR47JEX1187B995D81' 1985 124.86485]
['SOVYKGO12AB0187199' 'Crazy Mixed Up World' 'ARH4Z031187B9A71F2' 1961
 156.39465]
['SOLLHMX12AB01846DC' 'The Emperor Falls' 'AR1Y2PT1187FB5B9CE' 0 484.62322]
['SOMZWCG12A8C13C480' "I Didn't Mean To" 'ARD7TVE1187B99BFB1' 0 218.93179]
['SOHKNRJ12A6701D1F8' 'Drop of Rain' 'AR10USD1187B99F3F1' 0 189.57016]
['SOQHXMF12AB0182363' 'Young Boy Blues' 'ARGSJW91187B9B1D6B' 0 218.77506]
['SONHOTT12A8C13493C' 'Something Girls' 'AR7G5I41187FB4CE6C' 1982
 233.40363]
['SOIAZJW12AB01853F1' 'Pink World' 'AR8ZCNI1187B9A069B' 1984 269.81832]
['SOMJBYD12A6D4F8557' 'Keepin It Real (Skit)' 'ARD0S291187B9B7BF5' 0
 114.78159]
['SOCIWDW12A8C13D406' 'Soul Deep' 'ARMJAGH1187FB546F3' 1969 148.03546]
['SOUDSGM12AC9618304' 'Insatiable (Instrumental Version)'
 'ARNTLGG11E2835DDB9' 0 266.39628]
['SOYMRWW12A6D4FAB14' 'The Moon And I (Ordinary Day Album Version)'
 'ARKFYS91187B98E58F' 0 267.7024]
['SOXVLOJ12AB0189215' 'Amor De Cabaret' 'ARKRRTF1187B9984DA' 0 177.47546]
['SOFSOCN12A8C143F5D' 'Face the Ashes' 'ARXR32B1187FB57099' 2007 209.60608]
['SOMZWCG12A8C13C480' "I Didn't Mean To" 'ARD7TVE1187B99BFB1' 0 218.93179]

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [9]:
for artist in artist_data:
    cur.execute(artist_table_insert, artist)
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [19]:
log_files = get_files("data/log_data")

In [20]:
filepath = log_files[1]

In [12]:
df = pd.read_json(filepath, lines = True)

df.head()
dt = df[df['page'] == 'NextSong']
#print(len(dt))
dt.values
t = dt['ts']
#print(dt)
date = pd.to_datetime(t, unit = 'ms')
print(date)
date_data = pd.DataFrame({'start_time':date.dt.time,'hour':date.dt.hour,'day':date.dt.day,'week':date.dt.week,'month':date.dt.month,'year':date.dt.year,'weekday':date.dt.weekday})
print(len(date_data.values))
#date
#t.values
#print(df.values)
#dt = []
#for i in range (len(log_files)):

0    2018-11-11 02:33:56.796
1    2018-11-11 02:36:10.796
2    2018-11-11 02:40:34.796
4    2018-11-11 04:36:13.796
5    2018-11-11 04:36:46.796
6    2018-11-11 09:56:28.796
7    2018-11-11 10:00:47.796
8    2018-11-11 10:04:07.796
9    2018-11-11 10:08:28.796
10   2018-11-11 10:12:00.796
12   2018-11-11 10:27:43.796
13   2018-11-11 10:33:44.796
14   2018-11-11 10:36:22.796
15   2018-11-11 10:40:14.796
16   2018-11-11 10:43:23.796
17   2018-11-11 10:46:18.796
23   2018-11-11 11:14:51.796
25   2018-11-11 13:41:22.796
27   2018-11-11 13:52:23.796
28   2018-11-11 13:58:22.796
30   2018-11-11 14:05:43.796
31   2018-11-11 14:07:54.796
32   2018-11-11 14:09:36.796
33   2018-11-11 14:14:29.796
35   2018-11-11 14:15:06.796
36   2018-11-11 14:17:52.796
37   2018-11-11 14:19:37.796
38   2018-11-11 14:24:58.796
39   2018-11-11 14:30:05.796
40   2018-11-11 14:33:53.796
               ...
57   2018-11-11 15:10:12.796
58   2018-11-11 15:14:56.796
59   2018-11-11 16:01:19.796
60   2018-11-11 16:05:35.796
61   2018-11-11 16:09:12.796
62   2018-11-11 16:13:43.796
65   2018-11-11 18:08:33.796
67   2018-11-11 18:48:12.796
69   2018-11-11 18:49:01.796
70   2018-11-11 18:51:56.796
71   2018-11-11 18:53:36.796
72   2018-11-11 18:54:46.796
76   2018-11-11 19:41:45.796
77   2018-11-11 19:45:25.796
78   2018-11-11 19:48:53.796
80   2018-11-11 19:56:23.796
81   2018-11-11 19:59:18.796
82   2018-11-11 20:03:09.796
83   2018-11-11 20:06:02.796
84   2018-11-11 20:08:52.796
85   2018-11-11 20:13:22.796
86   2018-11-11 20:15:55.796
87   2018-11-11 20:19:18.796
88   2018-11-11 20:22:03.796
89   2018-11-11 20:25:40.796
90   2018-11-11 21:09:28.796
91   2018-11-11 21:13:48.796
92   2018-11-11 21:17:29.796
93   2018-11-11 23:39:00.796
94   2018-11-11 23:42:28.796
Name: ts, Length: 73, dtype: datetime64[ns]
73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [27]:
df = pd.DataFrame(columns = pd.read_json(log_files[0],lines = True).columns)
#date_df = pd.DataFrame(columns = ['start_time','hour','day','week','month','year','weekday'])
s = 0
for file in log_files:    
    data = pd.read_json(file, lines = True)
    s += len(data)
    df = df.append(data)
dt = df[df['page'] == 'NextSong']
t = dt['ts']
date = pd.to_datetime(t, unit = 'ms')
date_df = pd.DataFrame({'start_time':date,'hour':date.dt.hour,'day':date.dt.day,'week':date.dt.week,'month':date.dt.month,'year':date.dt.year,'weekday':date.dt.weekday})
user_df = pd.DataFrame({'user_id':df['userId'],'first_name':df['firstName'],'last_name':df['lastName'],'gender':df['gender'],'level':df['level']})

print('data entry: {}, date_df: {}, user_df: {}'.format(s,len(date_df),len(user_df)))
print(user_df.values)

data entry: 8056, date_df: 6820, user_df: 8056
[['53' 'Celeste' 'Williams' 'F' 'free']
 ['10' 'Sylvie' 'Cruz' 'F' 'free']
 ['53' 'Celeste' 'Williams' 'F' 'free']
 ...
 ['49' 'Chloe' 'Cuevas' 'F' 'free']
 ['6' 'Cecilia' 'Owens' 'F' 'free']
 ['6' 'Cecilia' 'Owens' 'F' 'free']]

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [14]:
for i, row in time_df.iterrows():
    
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [15]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [1]:
for index, row in df.iterrows():
    print('{},{},{}'.format(row.song, row.artist, row.length))
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    print(results)
    print('{},{},{},{},{},{}'.format(pd.to_datetime(row.ts,unit = 'ms'), row.userId, row.level, songid, artistid, row.sessionId))
    songplay_data = (pd.to_datetime(row.ts,unit = 'ms'), row.userId, row.level, songid, artistid, row.sessionId)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

NameError: name 'df' is not defined

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [1]:
conn.close()

NameError: name 'conn' is not defined

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.